In [1]:
import pandas as pd
import numpy as np
import nltk

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [2]:
df = pd.read_csv('/content/profiles_merged_all_profiles.csv',encoding = "ISO-8859-1")
df.head()

,fullName,mail,company,jobTitle,jobDescription,jobDateRange,company2,jobTitle2,jobDescription2,jobDateRange2,schoolDegree,schoolDateRange,schoolDegree2,schoolDateRange2,phoneNumberFromDropContact,allSkills,phoneNumber,jobLocation,jobLocation2
0,Aakar Singhvi,aakars07@gmail.com,Bajaj Auto Ltd,"Manager, Operations Management",\tIdentify and develop potential new suppliers...,Apr 2017 - Present 5 yrs 5 mos,Bajaj Auto Ltd,"Assistant Manager, Vendor & Component development",\tManage supplier base (22 vendors) at multipl...,Apr 2013 - Mar 2017 4 yrs,"B.Tech, Mechanical Engineering",2007 - 2011,Science,1991 - 2005,+91 72198 21111,"Product Development, Strategic Sourcing, Suppl...",NaN,NaN,NaN
1,ABHINAV SETHI,NaN,National Gas Company SAOG,Country Marketing Manager,NATIONAL GAS COMPANY SAOG (Transfer in Feb 21 ...,Feb 2019 - Present 3 yrs 7 mos,Mohsin Haider Darwish LLC,Sales Manager,I headed a team of 8 employees as the Head of ...,Feb 2016 - Feb 2019 3 yrs 1 mo,Advanced Management Program in Business Analyt...,Nov 2021 - Mar 2023,DIGITAL MARKETING,2020 - 2020,+968 24 446073,"Energy, Marketing, Business Analysis, Petroleu...",NaN,NaN,NaN
2,Akash Topdar,akash_09181988@yahoo.com,Adobe,Analytics Manager,"Partnering with multiple teams to identify, me...",Aug 2021 - Present 1 yr 1 mo,Adobe,Senior Business Intelligence Consultant,Understand and analyze customer experience acr...,Sep 2017 - Jul 2021 3 yrs 11 mos,"Master of Business Administration (M.B.A.), In...",2010 - 2012,"Bachelors Degree, Business/Commerce, General",2006 - 2009,NaN,"Business Analysis, Project Management, Web Ana...",9953211250,"Noida, Uttar Pradesh, India","Noida, Uttar Pradesh, India"
3,Amit Kumar,NaN,IDFC FIRST Bank,Vice President,NaN,Jun 2021 - Present 1 yr 3 mos,Genpact,Assistant Vice President,NaN,Mar 2018 - Jun 2021 3 yrs 4 mos,Advance Management Program in Business Analytic,2021,"MCA, Computer",NaN,+33 1 80 01 08 88,"Requirements Analysis, Oracle, Force.com, Web ...",NaN,NaN,NaN
4,Amit Shukla,amit.8225@gmail.com,Microsoft,Architect / Engineering Lead,\tWorking as an Engineering Lead on developing...,Aug 2021 - Present 1 yr 1 mo,Microsoft,Architect,"Worked on architecting, designing and developi...",Jan 2020 - Sep 2021 1 yr 9 mos,Advance Management Program in Analytics & Data...,Nov 2021 - Apr 2023,"Bachelor of Technology - BTech, Computer Science",2001 - 2005,+1 844-931-2038,"Data Analytics, Data Mining, Machine Learning,...",91-8106988225,"Hyderabad, Telangana, India","Hyderabad Area, India"

In [3]:
job_profiles = pd.read_csv('/content/Job Profiles.csv')
job_profiles.head()

,Job_Profile_Num,Role_Name,Job_Posting_URL,Job_Description,Min_Experience,Max_Experience,Location,Education,Required_Skills,Company,Work_From_Home_Available
0,1,SQL Developer,https://www.linkedin.com/jobs/view/3085284554/...,Good experience in SQL (4 5) . 3 Years of over...,6,10.0,Delhi Noida Gurgaon Bangalore,NaN,"SQL, Querying SQL Database, SQL Query Script",SQL Developer,Yes
1,2,SQL Developer,https://www.linkedin.com/jobs/view/3202473813/...,"SQL Developer\n\nSQL, Campaign Developer\n\nSt...",3,NaN,Mumbai,Bachelors,"SQL Developer \n\nSQL, Campaign Developer \n\n...",NaN,No
2,3,MS SQL Developer,https://www.linkedin.com/jobs/view/3175663018/...,Strong analytical skills and proficiency with ...,2,NaN,Pune,NaN,NaN,Synechron,Yes
3,4,MS-T-SQL Developer,https://www.linkedin.com/jobs/view/3176613382/...,• Designing database tables and structures\n\n...,2,8.0,Mumbai/Pune/Chennai/Hyderabad/Delhi,NaN,NaN,Larsen & Toubro Infotech,Hybrid
4,5,SQL Developer,https://www.linkedin.com/jobs/view/3069504584/...,SQL Server SSA with SSRS/other reporting skill...,8,NaN,Hyderabad,NaN,NaN,Deloitte,Yes

In [4]:
print(df.shape)
print(job_profiles.shape)

(267, 19)
(15, 11)

#**Feature Selection**

In [5]:
simple_reviews_df = df.iloc[::, [4, 15]]
simple_reviews_df.head()

,jobDescription,allSkills
0,\tIdentify and develop potential new suppliers...,"Product Development, Strategic Sourcing, Suppl..."
1,NATIONAL GAS COMPANY SAOG (Transfer in Feb 21 ...,"Energy, Marketing, Business Analysis, Petroleu..."
2,"Partnering with multiple teams to identify, me...","Business Analysis, Project Management, Web Ana..."
3,NaN,"Requirements Analysis, Oracle, Force.com, Web ..."
4,\tWorking as an Engineering Lead on developing...,"Data Analytics, Data Mining, Machine Learning,..."

#**Data Cleaning**
**Cleaning Data by removing special character**

In [6]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"]
for char in spec_chars:
    simple_reviews_df['allSkills'] = simple_reviews_df['allSkills'].str.replace(char, ' ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [7]:
simple_reviews_df['allSkills'] = simple_reviews_df['allSkills'].str.split().str.join(" ")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
simple_reviews_df['allSkills'].head()

0    Product Development Strategic Sourcing Supply ...
1    Energy Marketing Business Analysis Petroleum O...
2    Business Analysis Project Management Web Analy...
3    Requirements Analysis Oracle Force com Web Ser...
4    Data Analytics Data Mining Machine Learning R ...
Name: allSkills, dtype: object

In [9]:
simple_reviews_profiles = job_profiles.iloc[::, [1, 3, 8]]
simple_reviews_profiles.head(15)

,Role_Name,Job_Description,Required_Skills
0,SQL Developer,Good experience in SQL (4 5) . 3 Years of over...,"SQL, Querying SQL Database, SQL Query Script"
1,SQL Developer,"SQL Developer\n\nSQL, Campaign Developer\n\nSt...","SQL Developer \n\nSQL, Campaign Developer \n\n..."
2,MS SQL Developer,Strong analytical skills and proficiency with ...,NaN
3,MS-T-SQL Developer,• Designing database tables and structures\n\n...,NaN
4,SQL Developer,SQL Server SSA with SSRS/other reporting skill...,NaN
5,Business Analyst,We’ll look to you to bring a good understandin...,NaN
6,Senior Business Analyst,Overall 8+ of IT experience with 4+ year minim...,NaN
7,Senior Business Analyst,5-8 years of experience in business analysis o...,NaN
8,Business Analyst,Business Skills\n\nKnowledge in Payment techno...,NaN
9,Business Analyst,Key Skills\nApplication development skills\nSt...,NaN
10,Cloud enterprise architect,"Experience:\nExperience within Architecture, D...",Mandatory Skills \nEnterprise Architect \nAWS/...
11,Cloud Solution Architect,At least 3 years in architectural or operation...,NaN
12,Cloud Architect,Worked on at least two public cloud technologi...,NaN
13,Senior Cloud Architect,Experience And Qualifications Required\nExcell...,NaN
14,Principal Cloud Solution Architect,Critical Skills:\n\n\nThe Master Principal CA ...,NaN

In [10]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"]
for char in spec_chars:
    simple_reviews_profiles['Required_Skills'] = simple_reviews_profiles['Required_Skills'].str.replace(char, ' ')

simple_reviews_profiles['Required_Skills'] = simple_reviews_profiles['Required_Skills'].str.split().str.join(" ")
simple_reviews_profiles['Required_Skills'].head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0           SQL Querying SQL Database SQL Query Script
1    SQL Developer SQL Campaign Developer Strategy ...
2                                                  NaN
3                                                  NaN
4                                                  NaN
Name: Required_Skills, dtype: object

 **checking for missing values**
 **if any will replace it with zero**

In [ ]:
simple_reviews_df.isna().sum()

jobDescription    192
allSkills          22
dtype: int64

In [12]:
simple_reviews_df['jobDescription'] = simple_reviews_df['jobDescription'].replace(np.nan, 0)
simple_reviews_df['allSkills'] = simple_reviews_df['allSkills'].replace(np.nan, 0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
simple_reviews_profiles.isna().sum()
simple_reviews_profiles['Required_Skills'] = simple_reviews_profiles['Required_Skills'].replace(np.nan, 0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
print(simple_reviews_profiles.isna().sum())
print(simple_reviews_df.isna().sum())

Role_Name          0
Job_Description    0
Required_Skills    0
dtype: int64
jobDescription    0
allSkills         0
dtype: int64

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer()
from sklearn.feature_extraction.text import TfidfVectorizer

Importing Stopwards to clean data

In [17]:
from nltk.corpus import stopwords
print(stopwords.words('english'))
stoplist = set(stopwords.words("english"))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

Using CountVectorizer function for ALLSKILLS and Required Skills data

In [18]:
corpus = simple_reviews_df['allSkills'].values
corpus = [item for item in corpus if not isinstance(item, int)]
#vectorizer = CountVectorizer(stop_words=None)
vectorizer = CountVectorizer(stop_words = stoplist)

X = vectorizer.fit_transform(corpus)

VectorizedText=pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())
VectorizedText['originalText']=pd.Series(corpus)
VectorizedText.tail(5)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,10,10g,11g,12c,14001,18c,2000,2003,2008,2012,...,xp,yoga,yourkit,youtube,zigbee,zoho,zookeeper,zoology,zscaler,originalText
240,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,PL SQL Python Programming Language Agile Metho...
241,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,PL SQL Database Triggers Cursors SQL Unix Busi...
242,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,SQL Linux PL SQL Informatica Unix Shell Scripting
243,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Engineering English SQL Microsoft SQL Server M...
244,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,PL SQL Management Agile Methodologies scrum ma...

In [19]:
corpus_requiredskills = simple_reviews_profiles['Required_Skills'].values
corpus_requiredskills = [item for item in corpus_requiredskills if not isinstance(item, int)]
#vectorizer = CountVectorizer(stop_words=None)
vectorizer1 = CountVectorizer(stop_words = stoplist)

X = vectorizer1.fit_transform(corpus_requiredskills)

VectorizedText_profiles=pd.DataFrame(X.toarray(), columns= vectorizer1.get_feature_names())
VectorizedText_profiles['originalText']=pd.Series(corpus_requiredskills)
VectorizedText_profiles.head(5)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,analytics,architect,aws,azure,campaign,database,datacenters,descriptive,developer,enterprise,...,policy,query,querying,sas,script,skills,sql,strategy,teradata,originalText
0,0,0,0,0,0,1,0,0,0,0,...,0,1,1,0,1,0,3,0,0,SQL Querying SQL Database SQL Query Script
1,1,0,0,0,2,0,0,1,2,0,...,1,0,0,1,0,0,2,1,1,SQL Developer SQL Campaign Developer Strategy ...
2,0,1,1,1,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,Mandatory Skills Enterprise Architect AWS Azur...

**Using TfidfVectorizer to convert the array file into Vectorized Variable **

In [20]:
vectorizer_Tfidf = TfidfVectorizer()

trsfm=vectorizer_Tfidf.fit_transform(corpus)
Z = pd.DataFrame(trsfm.toarray(),columns=vectorizer_Tfidf.get_feature_names())
Z.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,10,10g,11g,12c,14001,18c,2000,2003,2008,2012,...,xml,xp,yoga,yourkit,youtube,zigbee,zoho,zookeeper,zoology,zscaler
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.12267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
vectorizer_Tfidf_profiles = TfidfVectorizer()

trsfm2=vectorizer_Tfidf_profiles.fit_transform(corpus_requiredskills)
Y = pd.DataFrame(trsfm2.toarray(),columns=vectorizer_Tfidf_profiles.get_feature_names())
Y.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,analytics,architect,aws,azure,campaign,database,datacenters,descriptive,developer,enterprise,...,policy,query,querying,sas,script,skills,sql,strategy,teradata,with
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.32959,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.32959,0.32959,0.000000,0.32959,0.000000,0.751985,0.000000,0.000000,0.000000
1,0.216607,0.000000,0.000000,0.000000,0.433213,0.00000,0.000000,0.216607,0.433213,0.000000,...,0.216607,0.00000,0.00000,0.216607,0.00000,0.000000,0.329470,0.216607,0.216607,0.216607
2,0.000000,0.353553,0.353553,0.353553,0.000000,0.00000,0.353553,0.000000,0.000000,0.353553,...,0.000000,0.00000,0.00000,0.000000,0.00000,0.353553,0.000000,0.000000,0.000000,0.000000

In [42]:
df1 = pd.MultiIndex.from_product(
    [simple_reviews_df['allSkills'], simple_reviews_profiles['Job_Description']], names = ['col1','col2']
).to_frame(index = False)
df1.head()

,col1,col2
0,Product Development Strategic Sourcing Supply ...,Good experience in SQL (4 5) . 3 Years of over...
1,Product Development Strategic Sourcing Supply ...,"SQL Developer\n\nSQL, Campaign Developer\n\nSt..."
2,Product Development Strategic Sourcing Supply ...,Strong analytical skills and proficiency with ...
3,Product Development Strategic Sourcing Supply ...,• Designing database tables and structures\n\n...
4,Product Development Strategic Sourcing Supply ...,SQL Server SSA with SSRS/other reporting skill...

# **Checking for Cosine Similarity between inverse frequency vectors creted as Y( Job Required Skills ) and Z ( Candidate Skills)**

In [44]:
from sklearn.metrics.pairwise import cosine_similarity
cos_sim = []
for r in range(len(Y)):
  doc1 = Y.loc[r].values.reshape(-1, 1).tolist()
  doc2 = Z.loc[ r].values.reshape(-1, 1).tolist()
  print(doc1,doc2)
  similarities = cosine_similarity(doc1,doc2)
  cos_sim.append (similarities)

cos_sim = np.array(cos_sim)
type(cos_sim)

[[0.0], [0.0], [0.0], [0.0], [0.0], [0.3295900297621176], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.3295900297621176], [0.3295900297621176], [0.0], [0.3295900297621176], [0.0], [0.7519851388994503], [0.0], [0.0], [0.0]] [[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1328520971359532], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.15118829643614026], [0.0], [0.0], [0.0], [0.0], [0.0], [0.10585736339557295], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1428150501697882], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.23164063285881598], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.07179380198248253], [0.0], [0.0], [0.0], [0.0], [0.1002240603007522], [0.0], [0.0], [0.0], [0.1428150501697882], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1428150501697882], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1428150501697882], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.2856301003395764], [0.0], [0.1428150501697882], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.10092655017841425], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1428150501697882], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1428150501697882], [0.0], [0.0], [0.0], [0.0], [0.0], [0.125783269463243], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.20216572889105866], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1328520971359532], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1428150501697882], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.09682175307916438], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.16778953894373805], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.07468792734360738], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.12030026074784556], [0.30980544012390104], [0.0], [0.1328520971359532], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0632353263776252], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.30277965053524275], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.10585736339557295], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.12030026074784556], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.08389476947186902], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.3985562914078596], [0.23164063285881598], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1328520971359532], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1428150501697882], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0]]
[[0.21660656572997883], [0.0], [0.0], [0.0], [0.43321313145995766], [0.0], [0.0], [0.21660656572997883], [0.43321313145995766], [0.0], [0.21660656572997883], [0.21660656572997883], [0.0], [0.21660656572997883], [0.0], [0.21660656572997883], [0.21660656572997883], [0.0], [0.0], [0.21660656572997883], [0.0], [0.0], [0.3294697527401008], [0.21660656572997883], [0.21660656572997883], [0.21660656572997883]] [[0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1247231587359992], [0.10114813315336829], [0.0], [0.0], [0.0], [0.11602231823465843], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.08802378494895753], [0.0], [0.0], [0.0], [0.0], [0.0], [0.18489458530405498], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1247231587359992], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.13915200283816623], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.10114813315336829], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1247231587359992], [0.1247231587359992], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.09244729265202749], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.062110970284574525], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.04451683137252248], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0875276195834817], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.2494463174719984], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1247231587359992], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.11602231823465843], [0.0], [0.0], [0.0], [0.071399762990788], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.05069017595247182], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.08455631856750163], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.10984897365470908], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.06661134492456623], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.04936921047880697], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.048429253807641515], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.2494463174719984], [0.1247231587359992], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.35311051973137975], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.07426520153510277], [0.25826436825192056], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.11602231823465843], [0.0], [0.0], [0.0], [0.0], [0.14603309563428368], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1247231587359992], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.10114813315336829], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.04936921047880697], [0.23204463646931686], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.21980079769296276], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.11602231823465843], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.06522641841083865], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.06153869868913471], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1050605555884873], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.046107107903580545], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.04969190698168999], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.06392547992234561], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.289252184224858], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.07052376735968527], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1050605555884873], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.14653386512864186], [0.1247231587359992], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.10114813315336829], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.10347431968655219], [0.0], [0.0], [0.0], [0.0], [0.1247231587359992], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.1247231587359992], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.11602231823465843], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.07757310757073735], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.062110970284574525], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0], [0.0]]

numpy.ndarray